__pycache__/
*.pyc
.env
Data/extracted_pdfs/
Data/extracted_pdfs/**
.venv
Generated_Reports
matched_groups.csv
matched_top3.csv
tempCodeRunnerFile.py
techniques_mappings.csv

# Data & artifacts
data/interim/
experiments/**/checkpoint*/
experiments/**/runs/
logs/

models/*/pytorch_model.bin
archive/data

enterprise-attack-v17.1-mitigations_mappings.csv
techniques_mapping.csv

data/mitigations/

Data\mapped\*
Data\processed\*
matched_groups_roberta.csv
matched_groups_rule.csv
mitigations_roberta_top.csv
mitigations_rule_top.csv
inputted_ttps.csv
matched_top3_roberta.csv
matched_top3_rule.csv
inputted_ttps_rule.csv
inputted_group_rule.csv

matched_groups_roberta.csv
matched_groups_rule.csv
inputted_ttps.csv
mitigations_roberta_top.csv
mitigations_rule_top.csv
data/processed
Data/mapped/*
experiments
Archive
